tags
TAGS
target/
**/*.rs.bk
__pycache__/
/*.strat
/*.so
rusty-tags.vi
.redo
.ropeproject/
.vscode/ipch/
.do_built
.do_built.dir/
*.pyc
*.tmp
.kak.tags.namecache
imgui.ini
.vscode/
runner/assets/*/*
node_modules
.runner_system_id
